.login-container {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 450px;
  border-radius: 20px;
  border: none;
  padding: 20px;
}